# Ignore virtual environment
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment/secret files
.env
*.env

# Ignore VS Code settings
.vscode/

weather_report.csv
weather_trend.png